/*redes sociales*/
.botonsub{
    /*background-color: red;*/
	position: fixed;
	top: 480px;
	z-index: 160;
	right: 0;
}
#subir a{
    font-family: Arial;
    font-size: 15px;
    text-shadow: 2px 7px 7px #2EF045;
    
    padding: 0;
    /*margin-right: 10px;*/
    color: #fff;
    text-decoration: none;
    width: 55px;
    transition: all .4s ease;
    border-radius: 5px;
    /* background: rgba(0,0,0,.26); */
}
#subir a:hover{
	/* background:#000000; */
	padding: 20px 20px 20px 20px;
    padding-left: 10px;
    transition: all .4s ease;
}
@media all and (max-width: 968px) {
	
    .botonsub{
    top: 465px;
	z-index: 160;
	right: 0;
    }
}
/*redes fin*/